/* Specifies the default font to use fot the `font-family` attributes */
@font-face {
    font-family: 'BreeSerif';
    src: url(../media/fonts/BreeSerif-Regular.ttf);
}

html {
    background-image: url("../media/background_tile_x16.png");
    width: 1280;
    height: 720;
    font-size: 16px;
    font-family: 'BreeSerif', 'Bree Serif', 'Times New Roman', serif;
    
}


/* The styles for the button Element */
button {
    font-size: 16px;
    font-family: 'BreeSerif', 'Bree Serif', 'Times New Roman', serif;
    transition: all 0.5s ease-out;
}
button:hover {
    transition: none;
}

/* The styles for the dropdown element */
select {
    background-color:#ff5353;
    border: solid 2.5px;
    border-radius: 6px;
    font-family: 'BreeSerif', 'Bree Serif', 'Times New Roman', serif;
}

option {
    background-color: white;
    border: solid 2.5px;
    border-radius: 6px;
    text-align: left;
}

div.Header {
    height: 2rem;
    vertical-align: middle;
    padding: 0.2rem;
}

div.PageInfo {
    text-align: center;
    margin: auto;
}

div.info_dialog {
    position: relative;
    background-color: #FABDBD;
    padding: 1rem;
    border: solid #FF9292 4px;
    border-radius: 8px;
    text-align: justify;
    margin: auto;
}

div button.close_button {
    position: relative;
    top: -3.5rem;
    float: right;

    margin: auto;
    background-color: #ff5353;
    border: solid 3.5px;
    border-radius: 8px;
}

div button.close_button:hover {
    background-color: #ff9c80;
    top: -3.8em;
}

div button.close_button:active {
    background-color: #e63a4b;
    top: -3.5em;
}


h1#page_title {
    color: #FA9B59;
    font-size: 6rem;
    font-weight: normal; 
}

/* The styles for the buttons with the class `InfoButton`
   and its roor HTML element
*/
div.InfoGroup {  
    float: right;
    display:flex;
}

div.InfoIcon {
    background: #FA9B59;
    border: 4px solid; 
    border-radius: 36px;
    width: 3rem;
    height: 3rem;
    text-align: center;
    text-anchor: middle;
    font-size: 2.25rem;
    margin-inline: 1rem;
}

button.InfoButton {
    background: #FABDBD;
    border: #FF9292 solid 4px;
    border-radius: 8px;
    width: 175px;
    height: 3.5rem;
    order: behind;
    position: relative;
    margin-right: 1rem;
    

}

button.InfoButton:hover {
    background: #ffe2de;
    border: #ffaeae solid 4px;
    transition: none;

}

button.InfoButton:active {
    background: #f87777;
    border: #d15555 solid 4px;

}

button.TransitionButton {
    padding: 12px;
    min-width: 64px;
    height: 64px;
    background-color: #FA9B59;
    border-radius: 16px;
    border: black 4px solid;
    font-family: 'Arimo', 'Arial' sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

button.TransitionButton:hover {
    background-color: aqua;
}


button.TransitionButton:active {
    background-color: yellow;
}

/* The sytleing for the two 'hand' icons in the index HTML file */
img.IndicatorSprite {
    position:relative;
    margin-right: 8rem;
    margin-left: 8rem;
    transition: all 1.0s ease-in-out;
}


img#pointer_left_up {
    transform: rotate(-30deg);
}

img#pointer_right_up {
    transform: rotate(30deg);
}

/* A CSS tag specifying the styles
   for a custom HTML tag attribute, `state` 
*/
div[state=hidden].info_dialog {
    height: 0;
    width: 0;
    size: 0px;
    margin: auto;
    padding: 0;
    opacity: 0;
    overflow: hidden;

}

input[type="text"] {
    background-color: lightgray;
    border: solid 3px;
    border-radius: 4px;
    padding: 0.2rem;
    margin-bottom: 1rem;
}
